.host {
  display: flex;
  justify-content: flex-end;

  &__name {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 992px) {
      font-size: 15px;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__name p {
    margin: 0;
    text-align: end;
  }

  &__picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;

    @media (max-width: 992px) {
      height: 48px;
      width: 48px;
    }

    @media (max-width: 768px) {
      height: 32px;
      width: 32px;
    }
  }
}
