// Les couleurs
$color-primary: #FF6060;
$color-secondary: #F6F6F6;
$color-tertiary: #000;

// Les fonts
$font-color-light: #FFF;
$font-color-dark: #000;

// Les border-radius
$border-radius-xs : 5px;
$border-radius-s : 10px;
$border-radius-lg : 25px;
