@import "./../../assets/style/variables.scss";

.collapse {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    border-radius: 7px;
    color: white;
    height : 52px;
    padding:0 10px ;
    border-radius: $border-radius-s;

    @media (max-width: 992px) {
      height : 40px;
    }

    @media (max-width: 768px) {
      height : 30px;
    }

    &--margin {
      margin-bottom: 31px;
    }
  }

  &__arrow {
    width: auto;
    height: 10px;

    &--rotate {
      transform: rotate(180deg);
      transition: transform 300ms;
    }
  }
  &__title {
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    background-color: $color-secondary;
    border-radius: 7px;
    padding: 20px 20px 35px 20px;
/*     max-height: 100%; */
    margin-bottom: 31px;
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__hide {
    display: none;
  }
}
