@import "./../../assets/style/variables.scss";

.tag {
  background: $color-primary;
  border-radius: $border-radius-s;
  color: $color-secondary;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 68px;
  text-align: center;

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;

    @media (max-width: 992px) {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}
